.Etusivu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 12;
}
.Navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 11;
}
.Navbar-color{
  background-color: #575d66;
  opacity: 70%;
}
.Profile {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  z-index: 10;
}
.Home {
  font-size: 20px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  z-index: 9;
}


.Info {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  z-index: 8;
}
.footerText{
  font-size: 20.32px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
}
.Teksti {
  font-size: 45.72px;
  font-family: "Myriad Pro";
  color: rgb(3, 3, 3);
  line-height: 1.2;
  text-align: center;
}
body {
  background-image: url(../Tausta.png);
  background-color: rgb(255,255,255);
  background-repeat: no-repeat;
  background-size: 100%,100%;
  z-index: -1;
}

.thumbnail{
  max-height: 100%;
  max-width: 100%;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60;
}