.Kirjautuminen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 26;
}
.Kirjautuminen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 24;
}
.Navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 23;
}
.Profile {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 637.937px;
  top: 44.76px;
  z-index: 22;
}
.Home {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 479.937px;
  top: 44.26px;
  z-index: 21;
}
.Info {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 564.938px;
  top: 43.76px;
  z-index: 20;
}
.This_site_use_cookies__©_2017_Supofo_ {
  font-size: 20.32px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 435.04px;
  top: 738.646px;
  z-index: 18;
}
.Taustakuva {
  background-image: url("Taustakuva.png");
  opacity: 0.651;
  position: absolute;
  left: -2px;
  top: 0px;
  width: 1427px;
  height: 802px;
  z-index: 16;
}
.Tausta_valkoinen {
  background-image: url("Tausta_valkoinen.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 15;
}
