.Luonti {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 14;
}
.Navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 13;
}
.Profile {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 637.937px;
  top: 44.76px;
  z-index: 12;
}
.Home {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 479.937px;
  top: 44.26px;
  z-index: 11;
}
.Info {
  font-size: 25.4px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 564.938px;
  top: 43.76px;
  z-index: 10;
}
.This_site_use_cookies__©_2017_Supofo_ {
  font-size: 20.32px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 435.04px;
  top: 738.646px;
  z-index: 8;
}
.Save {
  font-size: 23px;
  font-family: "Myriad Pro";
  color: rgb(3, 3, 3);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 217.257px;
  top: 614.284px;
  z-index: 6;
}
.Rounded_Rectangle_1 {
  border-width: 2.54px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 160px;
  top: 613px;
  width: 154.92px;
  height: 23.92px;
  z-index: 5;
}
.Add_Video_Text_picture {
  font-size: 30.48px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 183.937px;
  top: 227.378px;
  z-index: 4;
}
.Taustakuva {
  background-image: url("Taustakuva.png");
  opacity: 0.651;
  position: absolute;
  left: -2px;
  top: 0px;
  width: 1427px;
  height: 802px;
  z-index: 3;
}
.Tausta_valkoinen {
  background-image: url("Tausta_valkoinen.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 800px;
  z-index: 2;
}
